html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 12.5rem;
    height: 100%;
    background-color: #eee;
}

/*
#img-wrapper {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

#img-wrapper:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/assets/images/band_bw.jpg) no-repeat fixed -100px 200px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
*/

#img-wrapper {
    background: url(/assets/images/band_bw.jpg) no-repeat fixed 0px 200px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.inline-block {
    display: inline-block;
}

/* ==================== NAVIGATION ============== */

.navbar {
    background-color: #191008;
    min-height: 200px;
    border-bottom: 1px solid #ec1e2b;
    padding: 0;
}

.navbar-header {
    width: 220px;
    height: 200px;
    margin-left: 20px;
}

.navbar-header a {
    background: url("/assets/images/bannerlogo.png") no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 220px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 2em;
    padding-right: 2em;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
    color: #ac935d;
    font-weight: 900;
    transition: 1s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: 900;
    background-color: #3a2e15;
    outline: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:active:before,
.navbar-light .navbar-nav .nav-link:focus:before,
.navbar-light .navbar-nav .nav-link:hover:before {
    content: "[";
    color: #ec1e2b;
    width: 0;
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: -10px;
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link:active:after,
.navbar-light .navbar-nav .nav-link:focus:after,
.navbar-light .navbar-nav .nav-link:hover:after {
    content: "]";
    color: #ec1e2b;
    width: 0;
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: -5px;
    left: 5px;
    font-weight: 900;
}


.navbar-toggler {
    background-color: #ac935d;
    margin-right: 30px;
}

button:focus {
    outline: 0;
}

.navbar-collapse {
    Border-top: 1px solid #ac935d;
    padding: 0;
    text-align: center;
}

.button-div {
    height: 200px;
    padding-top: 30px;
}

/* ======================================= CONTENT ==============================================*/

/* ==================== NEWS, ABOUT US===================*/

.news-post-container,
.aboutus-person-container {
    background-color: rgba(40, 26, 17, 0.9);
    width: 85%;
    margin: 50px auto;
}

.aboutus-person-container-left {
    margin-bottom: 20px;
}

.aboutus-person-container {
    width: 85%;
}

.news-post,
.aboutus-person {
    padding: 30px 20px;
}

.news-post-date,
.person-text-name {
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #979291;
}

.news-post h1 {
    font-size: 25px;
    color: #e1e1e1;
    margin-bottom: 30px;
    font-weight: 900;
}

.news-post-text,
.person-text-profile {
    color: #fff;
    font-size: 14px;
}

p.person-text-sociallinks {
    font-size: 0.75em;
}

.news-post a,
.person-text-sociallinks a,
.person-text-sociallinks i {
    color: #fff;
    transition: 0.2s ease-in-out;
}

.person-text-sociallinks i {
    padding-right: 6px;
}

.news-post a:hover,
.person-text-sociallinks a:hover {
    color: #ff0000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.person-image img {
    width: 100%;
}

.person-text-sociallinks span {
    padding-right: 10px;
    padding-left: 0;
}



/* ==================== FOOTER ===================*/

.footer-content {
    background-color: #281a11;
    min-height: 50px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ec1e2b;
}

.footer-icons>ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footer-icons>ul {
    padding-top: 4px;
}

.social-icons li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #ec1e2b;
    background: transparent;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-icons li a i:hover {
    background: #ac935d;
}

.footer-text {
    color: #ac935d;
    font-weight: 800;
}

footer p {
    margin-bottom: 0;
    line-height: 50px;
    padding-left: 5px;
}


/* ==================== MEDIA QUERIES ===================*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    ul.navbar-nav {
        margin-left: 10px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        background-color: #3a2e15;
    }
    .navbar-header {
        margin-left: 50px;
    }
    .aboutus-person-container-left {
        margin-bottom: 100px;
    }

    .aboutus-person-container-right {
        margin-top: 190px;
    }
    .aboutus-person-container {
        width: 65%;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .navbar-collapse {
        Border-top: 0px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        background-color: transparent;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link:hover {
        background-color: transparent;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .navbar-light .navbar-nav .nav-link:hover {
        background-color: transparent;
    }
    #img-wrapper:before {
        background: url(/assets/images/band_bw.jpg) no-repeat fixed 0 200px;
        background-size: cover;
    }
}
