/*=========================== VALUES =============================*/

/*  BROWN:    #191008  rgba(25, 16, 8, 1.0)
    RED:      #ec1e2b  rgba(236, 30, 43, 1.0)
    WHITE:    #fafafa  rgba(250, 250, 250, 1.0)
    L BROWN:  #ac935d  rgba(172, 147, 93, 1.0)
*/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 500;
  padding-top: 6rem;
  height: 100%;
  width: 100%;
  background-color: #ec1e2b;
  /*#dfd4be;*/
}


.float-icons {
  position: fixed;
  top: 275px;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
  right: 0;
  width: 40px;
  z-index: 1100;
}

.float-icons ul {
  list-style-type:none;
  color:#efefef;
  height:40px;
  padding:0px;
  margin:0px 0px 1px 0px;
}

.float-icons li {
    list-style-type:none;
    background-color:#191008;
    color:#efefef;
    height:40px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
    border-radius: 0;
    margin-bottom: 10px;
    line-height: 35px;
}

.float-icons i {
  width: 40px;
  height: 40px;
  border-radius: 0;
  font-size: 25px;
  text-align: center;
  color: #ac935d;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.float-icons li:hover{
    margin-left:-50px;
    background-color: #ec1e2b;
}

.float-icons a:hover{
    padding-right: 50px;
    background-color: transparent;
}

.back-to-top {
  background-color: #fafafa;
}

.back-to-top a{
  background-color: #fafafa;
  text-decoration: none;
  color: #191008;
  margin-top:20px;
  font-weight: 700;
  padding: 0 10px 0 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.back-to-top a:hover {
  background-color: #ec1e2b;
  color: #fafafa;
}
.backtotop-anchor {
  display: block;
  height: 100px; 
  margin-top: -100px; 
  visibility: hidden;
}
/* ==================== WRAPPERS AND BACKGROUNDS ============== */

.tracks-wrapper,
.audio-wrapper {
  background-color: #ec1e2b;
  color: #fff;
  padding-bottom: 50px;
}

.videos-wrapper,
.backcatalogue-wrapper {
  background-color: #fafafa;
}

#img-wrapper-news {
  position: relative;
}

#img-wrapper-news::after {
  content: "";
  background: #ec1e2b url(../../assets/images/band_duotone.jpg) no-repeat top center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  -ms-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

#img-wrapper-bookus {
  position: relative;
}

#img-wrapper-bookus::after {
  content: "";
  background: #ec1e2b url(../../assets/images/gabriel-singing.jpg) no-repeat scroll -280px 0px;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  -ms-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

#aboutus-body {
  background-color: #dfd4be;
}

/* ==================== GENERAL MISC ============== */

.inline-block {
  display: inline-block;
}

.blockquote {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  font-style: italic;
}

/* ==================== LOCAL CATALOGUE NAVIGATION ============== */

.local-navigation {
  text-align: center;
  background-color: #fafafa;
  padding: 2.5rem 0;
  margin-top: 0px;
}

.btn-catalogue {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  font-weight: 900;
  padding: 12px 25px;
  outline: 0;
}

.btn-catalogue:hover {
  background-color: #ec1e2b;
}

.btn-outline-dark:hover {
  color: #fafafa;
}

/* ==================== GLOBAL NAVIGATION ============== */

.navbar {
  background-color: #191008;
  min-height: 100px;
  border-bottom: 1px solid #ec1e2b;
  padding: 0;
}

.navbar-header {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  padding-top: 10px;  
}

.navbar-header a {
  background: url("../../assets/images/logo_redtransparent.png") no-repeat;
  background-size: cover;
  min-height: 130px;
  min-width: 130px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ac935d;
  transition: 1s ease-in-out;
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fafafa;
  background-color: #3a2e15;
  outline: 0;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:active:before,
.navbar-dark .navbar-nav .nav-link:focus:before,
.navbar-dark .navbar-nav .nav-link:hover:before {
  content: "[";
  color: #ec1e2b;
  width: 0;
  display: inline-block;
  position: relative;
  bottom: 0px;
  left: -10px;
}

.navbar-dark .navbar-nav .nav-link:active:after,
.navbar-dark .navbar-nav .nav-link:focus:after,
.navbar-dark .navbar-nav .nav-link:hover:after {
  content: "]";
  color: #ec1e2b;
  width: 0;
  display: inline-block;
  position: relative;
  bottom: 0px;
  right: -5px;
  left: 5px;
}

.navbar-toggler {
  padding: 9px 10px;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #333;
  border-color: #333;
}

button:focus {
  outline: 0;
}

.navbar-collapse {
  Border-top: 1px dashed #ec1e2b;
  padding: 0;
  text-align: center;
}

.button-div {
  height: 100px;
  padding-top: 0;
}

/* ======================================= CONTENT ==============================================*/

/* ==================== NEWS, ABOUT US, BOOK US ===================*/

.news-post-container,
.aboutus-person-container,
.form-container {
  background-color: rgba(25, 16, 8, 0.9);
  width: 85%;
  margin: 50px auto;
  margin-bottom: 50px;
  border-radius: 1.0em;
}

.aboutus-person-container-left {
  margin-bottom: 50px;
}

.aboutus-person-container-right {
  margin-top: 0;
}

.aboutus-person-container {
  width: 85%;
  border-radius: 1.0em;
}

.aboutus-info {
  margin-top: 50px;
}

.aboutus-image {
  width: 50%;
  max-width: 250px;
  float: right;
  margin: 0 0 10px 10px;
  border-radius: 1.0em;
}

.news-image {
  max-width: 40%;
  float: right;
  margin: 0 0 10px 10px;
  border-radius: 1.0em;
}

.news-post:after {
  content: "";
  display: table;
  clear: both;
}

.news-word {
  display: none;
}

.news-post,
.aboutus-person,
.form-elements {
  padding: 45px 20px;
  margin-left: auto;
  margin-right: auto;
}

.news-post-date,
.person-text-name {
  color: #ec1e2b;
  border-bottom: 1px solid #979291;
  font-weight: 700;
}

.person-text-name {
  color: #fafafa;
}

.news-post h1,
.form-elements h1 {
  font-size: 1.4em;
  color: #fafafa;
  margin-bottom: 30px;
  font-weight: 700;
}

.news-post-text,
.person-text-profile,
.form-text {
  color: #fafafa;
}

.person-text-sociallinks {
  font-size: 1em;
}

.news-post a,
.person-text-sociallinks a,
.person-text-sociallinks i {
  color: #fafafa;
  transition: 0.2s ease-in-out;
}

.person-text-sociallinks i {
  padding-right: 10px;
}

.news-post a:hover,
.person-text-sociallinks a:hover {
  color: #ec1e2b;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.person-image img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  border-radius: 1.0em;
}

.person-text-sociallinks span {
  padding-right: 15px;
  padding-left: 0;
}

#person-text-sociallinks-two {
  display: block;
  padding: 0;
}

/* ==================== CATALOGUE ===================*/

.container row,
.container col {
  padding: 0;
  margin: 0;
}

.section-header {
  margin-bottom: 0px;
  border-bottom: 0;
  text-align: center;
  padding: 50px 0;
}

.section-header h1 {
  margin: 0;
  font-weight: 800;
}

#section-header-anchor {
  display: block;
  height: 100px; 
  margin-top: -100px; 
  visibility: hidden;
}

.album-tracklist {
  padding-left: 30px;
}

.album-tracklist ol {
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.album-tracklist ol li {
  list-style-position: inside;
  list-style-type: lower-roman;
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
}

.album-tracklist ol li::before {
  content: "";
  width: 20px;
  display: inline-block;
}

.album-coverimage img {
  width: 100%;
  padding-top: 50px;
}

.video-list {
  text-align: center;
}


/* Responsive YouTube videos solution provided by https://avexdesigns.com/responsive-youtube-embed/ */

.video-container0,
.video-container1,
.video-container2,
.video-container3,
.video-container4,
.video-container5,
.video-container6 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container0 iframe,
.video-container1 iframe,
.video-container2 iframe,
.video-container3 iframe,
.video-container4 iframe,
.video-container5 iframe,
.video-container6 iframe,
.video-container0 object,
.video-container1 object,
.video-container2 object,
.video-container3 object,
.video-container4 object,
.video-container5 object,
.video-container6 object,
.video-container0 embed,
.video-container1 embed,
.video-container2 embed,
.video-container3 embed,
.video-container4 embed,
.video-container5 embed,
.video-container6 embed {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
}

audio {
  background-color: #fafafa;
  width: 15em;
}

audio::-webkit-media-controls-panel {
  background-color: #fafafa;
}

.song-list {
  text-align: center;
}

.song-play {
  margin-left: 10px;
  margin-bottom: 50px;
}

.album-cover {
  padding-bottom: 30px;
}

.display-4 {
  font-size: 2.5rem;
}

/* ==================== BOOK US FORM ===================*/

label {
  color: #fafafa;
}

.button-align {
  text-align: right;
  margin-right: 1.2em;
  padding-top: 20px;
}

.btn-bookus {
  background-color: #ac935d;
  color: #000;
  font-weight: 700;
  border-radius: 0.2em;
  border-color: transparent;
}

.btn-bookus:hover {
  background-color: #ec1e2b;
  color: #fafafa;
  font-weight: 700;
  border-color: transparent;
}

/* ==================== FOOTER ===================*/

.footer-content {
  background-color: #191008;
  min-height: 50px;
  margin: 0;
  border-top: 1px solid #ec1e2b;
}

.footer-icons>ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding-top: 4px;
}

.footer-icons>ul>li, .footer-icons>ul>li.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.social-icons li a i,
.news-post i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 20%;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  color: #ac935d;
  background: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.social-icons li a i:hover {
  background: #ec1e2b;
  color: #fafafa;
}

.footer-text {
  color: #ac935d;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.8em;
}

footer p {
  margin-bottom: 0;
  line-height: 50px;
  padding-left: 5px;
}


/* ==================== MEDIA QUERIES ===================*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  ul.navbar-nav {
    margin-left: 10px;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #3a2e15;
  }
  .navbar-header {
    margin-left: 20px;
    padding-top: 10px;
  }
  .aboutus-person-container-left {
    margin-bottom: 100px;
    border-radius: 1.0em;
  }
  .aboutus-person-container-right {
    margin-top: 190px;
    border-radius: 1.0em;
  }
  .aboutus-person-container {
    width: 85%;
  }
  .footer-text {
    font-size: 1em;
  }
  .album-coverimage img {
    padding-top: 0;
  }
  #img-wrapper-bookus::after {
    background: #ec1e2b url(../../assets/images/gabriel-singing.jpg) no-repeat scroll 0px 0px;
  }
  .news-word {
    float: right;
    display: inherit;
  }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  .navbar-collapse {
    Border-top: 0px;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: transparent;
  }
  
  .navbar-header {
    margin-left: 20px;
    padding-top: 10px;
  }
  p.person-text-sociallinks {
    font-size: 0.9em;
  }
  .aboutus-person-container {
    width: 75%;
  }
  #person-text-sociallinks-two {
    display: block;
    padding-right: 15px;
  }
  .video-col-left iframe {
    left: 20%;
  }
  .video-col-right iframe {
    left: 0;
  }
  .display-4 {
    font-size: 3.5rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: transparent;
  }
  .navbar-header {
    margin-left: 80px;
    padding-top: 10px;
  }
  #person-text-sociallinks-two {
    display: inline-block;
    padding-right: 0;
  }
  .local-navigation {
    text-align: center;
    margin: 0;
    padding: 4rem 0;
  }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: transparent;
  }
  p.person-text-sociallinks {
    font-size: 1em;
  }
  .aboutus-person-container {
    width: 75%;
    max-width: 55%;
  }
}
